version: '2'


services:
  openwrt:
    image: sulinggg/openwrt:x86_64
    restart: always
    container_name: openwrt
    volumes:
      - ./openwrt:/etc/config
    networks:
      - macnet
    command: /sbin/init


networks:
  macnet:
    driver: macvlan
    driver_opts:
      parent: enp2s0
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.1